* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: url(/images/dino-reichmuth-A5rCN8626Ck-unsplash.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

h1 {
  color: white;
  opacity: 60%;
  text-align: center;
  margin-top: 30rem;
}

form {
  text-align: center;
}

label {
  background-color: red;
  color: white;
  border: none;
}

input {
  border: none;
}

button [type="reset"] {
  background-color: red;
  color: white;
}

button [type="submit"] {
  background-color: ;
  color: white;
}
